-@ var ciripage: ru.ciridiri.Page
a#md-markup-help.right-float.inplace{ :href => "/.md-cheatsheet" } syntax help
h1 Edit page
:javascript
  window.onload = function() {
  document.getElementById('p-content').focus();
  
form(method="post" action="#{ciripage.uri}.html" onkeypress="ctrlEnterSubmit(event, this)")
  fieldset
    div
      textarea#p-content(name="content" rows="30" cols="20" style="width: 100%")<
        &~~ ciripage.content
    - if( session.get("arni").isEmpty )
      div
        label(for="password") Password:
        input#password(name="password" type="password")
  fieldset.submits
    input(type="submit" value="Save")
    | or
    a(href="#{ciripage.uri}.html") cancel
    
  
:javascript

  $("#md-markup-help").click(function() {
    $.get($(this).attr('href'), function(data) {
      $.fn.colorbox({html: '<div id="md-markup-help-contents">' + data + "</div>"});
    });
    return false;
  });
